{% extends "base_front.html" %}

{% block content %}
    {% for artiste in page %}
        <div class="show_infos" >
            <a class="cover" href="{% url 'artiste_detail' artiste.id_artiste %}" >
                <img class="image_artiste" src="{{ artiste.image_artiste.url }}" title="image_artiste" alt="{{ artiste.nom }}" >
                <span class="item_infos">{{ artiste.nom }}</span>
            </a>
        </div>
    {% endfor %}
    {% include 'ttt_back/partials/pagination_snippet.html' %}
{% endblock content %}