{% extends "base_front.html" %}

{% block content %}
    <h2>Contact</h2>
    <p class="presentation" >
        For any inquiries feel free to ask at :<br/>
        <a href="mailto:thirdtypetapes@gmail.com">thirdtypetapes[at]gmail.com</a>
    </p>
    <p class="presentation" >
        Follow us on:<br/>
        <ul>
            <li>
                <a href="https://www.instagram.com/thirdtypetapes/" target="_blank" ><i class="fa-brands fa-instagram"></i> instagram</a>
            </li>
            <li>
                <a href="https://www.facebook.com/ThirdTypeTapes" target="_blank" ><i class="fa-brands fa-facebook"></i> facebook</a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCF51qnVE1neAv390v1bi12Q/featured" target="_blank" ><i class="fa-brands fa-youtube"></i> youtube</a>
            </li>
            <li>
                <a href="https://thirdtypetapes.bandcamp.com" target="_blank" ><i class="fa-brands fa-bandcamp"></i> bandcamp</a>
            </li>
            <li>
                <a href="https://soundcloud.com/thirdtypetapes" target="_blank" ><i class="fa-solid fa-cloud"></i> soundcloud</a>
            </li>
            <li>
                <a href="https://www.discogs.com/label/461407-Thirdtypetapes" target="_blank" ><i class="fa-solid fa-compact-disc"></i> discogs</a>
            </li>
        </ul>    
    </p>
{% endblock content %}