{% extends "base_front.html" %}

{% block content %}
    <h2>Contact</h2>
    <p class="presentation" >
        For any inquiries feel free to ask at :<br/>
        <a href="mailto:thirdtypetapes@gmail.com">thirdtypetapes[at]gmail.com</a>
    </p>
    <p class="presentation" >
        Follow us on:<br/>
        <a href="https://www.facebook.com/ThirdTypeTapes" target="_blank" >Facebook</a><br/>
        <a href="https://thirdtypetapes.bandcamp.com" target="_blank" >Bandcamp</a><br/>
        <a href="https://soundcloud.com/thirdtypetapes" target="_blank" >Soundcloud</a><br/>
        <a href="https://www.youtube.com/channel/UCF51qnVE1neAv390v1bi12Q/featured" target="_blank" >Youtube</a><br/>
        <a href="https://www.discogs.com/label/461407-Thirdtypetapes" target="_blank" >Discogs</a>
    </p>
{% endblock content %}