{% extends "base_front.html" %}

{% block content %}
    <p class="center" >
        ThirdTypeTapes is a tape label founded in the summer of 2012.
        We want to archive as much sounds and music as possible in a widest possible time of the cosmos.
        Magnetic tape is a high quality analog sound recording medium available since the 1970's by humans who want to spread alternatives
        and minority discourses. It still  appears today as very efficient for these purposes even if it's been largely replaced by digital technologies
        since the first decade of 21st century.
    </p>
{% endblock content %}