@import "./styles_global.less";

a {
    text-decoration: none;
    color: @grey;
    &:hover {
        color: @dark-blue;
    }
}

.exemplaire_form {
    padding: 0px;
    margin: 0px;
}
 
.stat {
    display: inline-block;
    margin: 12px;
}

/**********************************import components-style**********************************/

// @import "./components/item_show.less";

/**********************************import partials-style************************************/

// @import "./partials/header.less";
// @import "./partials/footer.less";
