@import "./styles_global.less";

a {
    text-decoration: none;
    color: @grey;
    &:hover {
        color: @black;
    }
}

td {
    text-align: center;
    .numero_exemplaire {
        width: 40px;
    }
}
 
.stat {
    display: inline-block;
    margin: 12px;
}

/**********************************import components-style**********************************/

// @import "./components/exemplaire_table.less";
// @import "./components/item_list.less";

/**********************************import partials-style************************************/

// @import "./partials/header.less";
// @import "./partials/footer.less";
