@black: #000000;
@white: #ffffff;
@dark-white: #ebebeb;
@blue: #01c4f5;
@dark-blue: #53B4C4;
@pink: #ef1f73;
@yellow: #fcfe04;
@grey: #808080;

/******************************************color-class*********************************/
.black {
    color: @black;
}

.white {
    color: @white;
}

.dark-white {
    color: @dark-white;
}

.blue {
    color: @blue;
}

.dark-blue {
    color: @dark-blue;
}

.pink {
    color: @pink;
}

.yellow {
    color: @yellow;
}

.grey {
    color: @grey;
}

.background-black {
    background-color: @black;
}

.background-white {
    background-color: @white;
}

.background-dark-white {
    background-color: @dark-white;
}

.background-blue {
    background-color: @blue;
}

.background-dark-blue {
    background-color: @dark-blue;
}

.background-yellow {
    background-color: @yellow;
}

.background-pink {
    background-color: @pink;
}

.background-dark-white-trans {
    background-color: fade(@white, 92%);
}

.background-grey-trans {
    background-color: fade(@grey, 50%);
}

/**********************************************Mixins*************************************/

.transition (@prop: all, @time: 0.5s, @ease: ease) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius: @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius: @bottomleft;
    -webkit-border-top-left-radius: @topleft;

    -moz-border-radius-topright: @topright;
    -moz-border-radius-bottomright: @bottomright;
    -moz-border-radius-bottomleft: @bottomleft;
    -moz-border-radius-topleft: @topleft;

    border-top-right-radius: @topright;
    border-bottom-right-radius: @bottomright;
    border-bottom-left-radius: @bottomleft;
    border-top-left-radius: @topleft;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.filter (@value: 100%) {
    -webkit-filter: grayscale(@value);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(@value);
}

.scale (@value: 1) {
    -webkit-transform: scale(@value);
    transform: scale(@value);
}

.placeholder (@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }

    &:-moz-placeholder {
        @rules();
    }

    &::-moz-placeholder {
        @rules();
    }

    &:-ms-input-placeholder {
        @rules();
    }
}

/**********************************************global-style********************************/

* {
    .transition(all, 0.2s, ease);
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: @black;
    color: @white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: @dark-blue;
    &:hover {
        color: @grey;
    }
}

.newsLetter {
    vertical-align: top;
    padding-top: 5px;
    min-width: 220px;
    .mc-field-group label {
        display: block;
        width: 200px;
    }
    #mc-embedded-subscribe, #mce-EMAIL {
        margin-top: 8px;
        width: 200px;
        height: 29px;
    }
    #mc-embedded-subscribe {
        border-radius: 5px;
        &:hover {
            border-radius: 5px;
        }
    }
}

.nav_menu {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    li {
        display: inline;
        text-align: center;
        padding: 19px;
        line-height: 40px;
        a {
            color: @white;
            &:hover {
                color: @grey;
            }
        }
    }
}

.menu_right_space {
    min-width: 220px;
}

/**********************************import components-style**********************************/

// @import "./components/item_show.less";

/**********************************import partials-style************************************/

// @import "./partials/header.less";
// @import "./partials/footer.less";
