/******************************************color-class*********************************/
.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
.dark-white {
  color: #ebebeb;
}
.blue {
  color: #01c4f5;
}
.dark-blue {
  color: #53B4C4;
}
.pink {
  color: #ef1f73;
}
.yellow {
  color: #fcfe04;
}
.grey {
  color: #808080;
}
.background-black {
  background-color: #000000;
}
.background-white {
  background-color: #ffffff;
}
.background-dark-white {
  background-color: #ebebeb;
}
.background-blue {
  background-color: #01c4f5;
}
.background-dark-blue {
  background-color: #53B4C4;
}
.background-yellow {
  background-color: #fcfe04;
}
.background-pink {
  background-color: #ef1f73;
}
.background-dark-white-trans {
  background-color: rgba(255, 255, 255, 0.92);
}
.background-grey-trans {
  background-color: rgba(128, 128, 128, 0.5);
}
/**********************************************Mixins*************************************/
/**********************************************global-style********************************/
* {
  -webkit-transition: all 0.23s ease;
  -moz-transition: all 0.23s ease;
  -o-transition: all 0.23s ease;
  -ms-transition: all 0.23s ease;
  transition: all 0.23s ease;
  font-family: 'Kanit', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #53B4C4;
}
a:hover {
  color: #808080;
}
.center {
  text-align: center;
}
.left_align {
  text-align: left;
}
.right_align {
  text-align: right;
}
.ilb {
  display: inline-block;
}
.bl {
  display: block;
}
.v_align_top {
  vertical-align: top;
}
.v_align_mid {
  vertical-align: middle;
}
.v_align_bot {
  vertical-align: bottom;
}
.anchor {
  margin: 50px;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 1;
  visibility: hidden;
}
/**********************************import components-style**********************************/
.pagination span,
.pagination a {
  margin: 10px;
}
/******************************************color-class*********************************/
.admin-blue {
  color: #0060df;
}
.admin-dark-blue {
  color: #003eaa;
}
.admin-grey {
  color: #ededf0;
}
.admin-light-grey {
  color: #F0F0F4;
}
.admin-text-color {
  color: #15141A;
}
.admin-sec-text-color {
  color: #5B5B66;
}
.admin-first-blue {
  color: #79aec8;
}
.admin-second-blue {
  color: #417690;
}
.admin-third-blue {
  color: #417893;
}
.admin-hover-blue {
  color: #036;
}
.admin-sel-blue {
  color: #5b80b2;
}
.admin-border-color {
  color: #e8e8e8;
}
.admin-border-input {
  color: #cccccc;
}
.admin-td-color {
  color: #f8f8f8;
}
.admin-error-color {
  color: #ba2121;
}
.admin-save {
  color: #d9534f;
}
.admin-save-hover {
  color: #be5058;
}
.admin-yellow {
  color: #f5dd5d;
}
.admin-light-black {
  color: #333;
}
.admin-dark-grey {
  color: #666;
}
.admin-light-white {
  color: #ffc;
}
.admin-title-grey {
  color: #848484;
}
/***************************************************************************************/
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #417893;
}
a:hover {
  color: #333;
}
.back_button {
  padding: 8px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
.back_button:hover {
  border-radius: 5px;
}
/**********************************import components-style**********************************/
.custom_header {
  background-color: #417690;
  height: 32px;
  margin: 0px 0px 20px 0px;
  padding: 10px 40px;
}
.custom_header .title,
.custom_header a {
  font-weight: 300;
  font-size: 23px;
  color: #f5dd5d;
  padding-top: 3px;
  display: inline-block;
}
.custom_header a {
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  float: right;
  padding-top: 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.custom_header a:hover {
  border-bottom: none;
}
.stat {
  display: inline-block;
  border-collapse: collapse;
  margin: 20px 40px 40px 40px;
}
.stat tr:nth-child(even) {
  background-color: #f8f8f8;
}
.stat tr td {
  text-align: left;
  padding: 8px;
  color: #417893;
  font-weight: 600;
  border-bottom: 1px solid #e8e8e8;
}
.stat caption {
  background-color: #79aec8;
  text-align: left;
  padding: 8px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 13.5px;
  color: #ffffff;
}
.cassette_list {
  vertical-align: top;
}
/**********************************import partials-style************************************/
.sub_title {
  padding: 10px 40px;
  color: #848484;
  font-size: 16px;
  font-weight: 400;
}
.exemplaire_table td {
  text-align: center;
}
.exemplaire_table td .numero_exemplaire {
  width: 40px;
}
.exemplaire_table td input,
.exemplaire_table td select {
  padding: 3px;
}
.exemplaire_table td .col_order {
  display: block;
  height: 6px;
}
.back_button.save_button {
  background-color: #d9534f;
  position: fixed;
  right: 120px;
  bottom: 8px;
  z-index: 1;
  visibility: hidden;
}
.back_button.save_button:hover {
  border-radius: 5px;
  background-color: #be5058;
}
.anchor.anchor_back {
  bottom: 8px;
  margin-bottom: 3px;
}
.gestion_ex_pagination {
  margin-left: 20px;
  margin-bottom: 20px;
}
.gestion_ex_pagination span,
.gestion_ex_pagination a {
  font-size: 14px;
}
.search_input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 7px 6px;
}
.search_input:focus {
  border: 1px solid #cccccc;
}
.ilb.center {
  min-width: 380px;
}
.back_button.search_button {
  background-color: #79aec8;
}
.back_button.search_button:hover {
  border-radius: 5px;
  background-color: #417893;
}
