/******************************************color-class*********************************/
.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
.dark-white {
  color: #ebebeb;
}
.blue {
  color: #01c4f5;
}
.dark-blue {
  color: #53B4C4;
}
.pink {
  color: #ef1f73;
}
.yellow {
  color: #fcfe04;
}
.grey {
  color: #808080;
}
.background-black {
  background-color: #000000;
}
.background-white {
  background-color: #ffffff;
}
.background-dark-white {
  background-color: #ebebeb;
}
.background-blue {
  background-color: #01c4f5;
}
.background-dark-blue {
  background-color: #53B4C4;
}
.background-yellow {
  background-color: #fcfe04;
}
.background-pink {
  background-color: #ef1f73;
}
.background-dark-white-trans {
  background-color: rgba(255, 255, 255, 0.92);
}
.background-grey-trans {
  background-color: rgba(128, 128, 128, 0.5);
}
/**********************************************Mixins*************************************/
/**********************************************global-style********************************/
* {
  -webkit-transition: all 0.23s ease;
  -moz-transition: all 0.23s ease;
  -o-transition: all 0.23s ease;
  -ms-transition: all 0.23s ease;
  transition: all 0.23s ease;
  font-family: 'Kanit', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #53B4C4;
}
a:hover {
  color: #808080;
}
.center {
  text-align: center;
}
.left_align {
  text-align: left;
}
.right_align {
  text-align: right;
}
.ilb {
  display: inline-block;
}
.bl {
  display: block;
}
.v_align_top {
  vertical-align: top;
}
.v_align_mid {
  vertical-align: middle;
}
.v_align_bot {
  vertical-align: bottom;
}
/**********************************import components-style**********************************/
.pagination span,
.pagination a {
  margin: 10px;
}
a {
  text-decoration: none;
  color: #808080;
}
a:hover {
  color: #53B4C4;
}
.exemplaire_form {
  padding: 0px;
  margin: 0px;
}
.stat {
  display: inline-block;
  margin: 12px;
}
/**********************************import components-style**********************************/
/**********************************import partials-style************************************/
