/******************************************color-class*********************************/
.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
.dark-white {
  color: #ebebeb;
}
.blue {
  color: #01c4f5;
}
.dark-blue {
  color: #53B4C4;
}
.pink {
  color: #ef1f73;
}
.yellow {
  color: #fcfe04;
}
.grey {
  color: #808080;
}
.background-black {
  background-color: #000000;
}
.background-white {
  background-color: #ffffff;
}
.background-dark-white {
  background-color: #ebebeb;
}
.background-blue {
  background-color: #01c4f5;
}
.background-dark-blue {
  background-color: #53B4C4;
}
.background-yellow {
  background-color: #fcfe04;
}
.background-pink {
  background-color: #ef1f73;
}
.background-dark-white-trans {
  background-color: rgba(255, 255, 255, 0.92);
}
.background-grey-trans {
  background-color: rgba(128, 128, 128, 0.5);
}
/**********************************************Mixins*************************************/
/**********************************************global-style********************************/
* {
  -webkit-transition: all 0.23s ease;
  -moz-transition: all 0.23s ease;
  -o-transition: all 0.23s ease;
  -ms-transition: all 0.23s ease;
  transition: all 0.23s ease;
  font-family: 'Kanit', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #53B4C4;
}
a:hover {
  color: #808080;
}
.center {
  text-align: center;
}
.left_align {
  text-align: left;
}
.right_align {
  text-align: right;
}
.ilb {
  display: inline-block;
}
.bl {
  display: block;
}
.v_align_top {
  vertical-align: top;
}
.v_align_mid {
  vertical-align: middle;
}
.v_align_bot {
  vertical-align: bottom;
}
/**********************************import components-style**********************************/
.pagination span,
.pagination a {
  margin: 10px;
}
body {
  background-color: #000000;
  color: #ffffff;
}
.links {
  margin: auto;
  width: 220px;
}
.anchor {
  margin: 50px;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 1;
  visibility: hidden;
}
/**********************************import components-style**********************************/
/**********************************************menu********************************/
header {
  padding-top: 10px;
  margin-bottom: 50px;
}
.newsLetter {
  vertical-align: top;
  padding-bottom: 10px;
  min-width: 220px;
}
.newsLetter .mc-field-group label {
  display: block;
  width: 200px;
}
.newsLetter #mc-embedded-subscribe,
.newsLetter #mce-EMAIL {
  margin-top: 8px;
  width: 200px;
  height: 29px;
}
.newsLetter #mc-embedded-subscribe {
  border-radius: 5px;
}
.newsLetter #mc-embedded-subscribe:hover {
  border-radius: 5px;
  background-color: #808080;
  color: #ffffff;
}
.nav_menu {
  text-align: center;
  padding-top: 5px;
}
.nav_menu ul li {
  display: inline;
  text-align: center;
  padding: 3px;
  margin: 17px;
  line-height: 40px;
}
.nav_menu ul li a {
  color: #ffffff;
}
.nav_menu ul li a:hover {
  color: #808080;
}
.nav_menu ul li.active {
  border-bottom: 1px solid;
  border-color: #ffffff;
}
.social_menu {
  text-align: center;
  min-width: 220px;
}
.social_menu .social_list li {
  display: inline;
  padding: 12px;
  line-height: 40px;
}
.social_menu .social_list li a {
  color: #ffffff;
}
.social_menu .social_list li a:hover {
  color: #808080;
}
article.bottom {
  display: none;
}
@media screen and (max-width: 1400px) {
  article.bottom {
    display: block;
  }
  .newsLetter.up,
  .social_menu.up {
    display: none;
  }
}
.show_infos {
  display: inline-block;
  margin: 3px;
  position: relative;
}
.show_infos .cover {
  color: #ffffff;
}
.show_infos .cover img {
  height: 200px;
}
.show_infos .cover .item_infos {
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 5px;
  word-wrap: break-word;
  visibility: hidden;
}
.show_infos .cover:hover .item_infos {
  visibility: visible;
}
.show_infos .cover:hover img {
  opacity: 0.15;
}
/**********************************import partials-style************************************/
