.sub_title {
    padding: 10px 40px;
    color: @admin-title-grey;
    font-size: 16px;
    font-weight: 400;
}

.exemplaire_form {
    td {
        text-align: center;
        .numero_exemplaire {
            width: 40px;
        }
        input, select {
            padding: 3px;
        }
    }
}