<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'label' %}">Label</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Releases</a>
            </li>
            <li>
                <a href="{% url 'artistes' %}">Artistes</a>
            </li>
            <li>
                <a href="{% url 'events' %}">Events</a>
            </li>
            <li>
                <a href="{% url 'live_archives' %}">Live Archives</a>
            </li>
            <li>
                <a href="{% url 'links' %}">Links</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </nav>
</header>