{% extends "base_back.html" %}
{% load ttt_back_extras %}

{% block content %}
    <div class="custom_header">
        <h4 class="title">Gestion Exemplaires</h4>
        <a href="/admin/"> / retour à l'admin</a>
        <a href="{% url 'gestion_exemplaire' %}">retour à la liste des cassettes / </a>
    </div>
    <h2 class="sub_title">{{ cassette_stat.code }} {{ cassette_stat.titre }}</h2>
    {% include 'ttt_back/partials/stat_snippet.html' %}
    <form method="post">
        {% csrf_token %}
        {{ formset.non_form_errors.as_ul }}
        {{ formset.management_form }} 
        <table id="formset" class="stat exemplaire_table">
            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                {% if field.label|startswith:"Id" %}
                                    <th>{{ field.label|truncstart:2 }}</th>
                                {% else %}
                                    <th>{{ field.label|lower }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for field in form.visible_fields %} <!-- order table -->
                                <td>
                                    <a class="col_order" href="{{ request.path }}?order_list={{ field.name }}">
                                        <i class="fa-solid fa-sort-up"></i>
                                    </a>
                                    <a href="{{ request.path }}?order_list=-{{ field.name }}">
                                        <i class="fa-solid fa-sort-down"></i>
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                {% if not forloop.last %}
                    <tr class="exemplaire_tr exemplaire_tr_{{ forloop.counter0 }}">
                        {% for field in form.visible_fields %}
                            <td class="exemplaire_td exemplaire_td_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {% if field.label == "Numero exemplaire" %}
                                    <input type="text" id="id_form-{{ forloop.parentloop.counter0 }}-numero_exemplaire" name="form-{{ forloop.parentloop.counter0 }}-numero_exemplaire" value="{{ field.value }}" class="numero_exemplaire center numero_exemplaire_{{ forloop.parentloop.counter0 }}" disabled>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button class="back_button save_button" type="submit">Sauvegarder</button>
    </form>
    <div class="anchor anchor_back">
        <a href="#">
            <i class="fa-solid fa-hand-point-up fa-2xl"></i>
        </a>
    </div>
{% endblock content %}