{% extends "base_back.html" %}

{% block content %}
    <div class="custom_header">
        <h4 class="title">Liste des Cassettes</h4>
        <a href="/admin/">retour à l'admin</a>
    </div>
    <div class="ilb cassette_list">
        <table class="stat">
            <tbody>
                {% for cassette in page %}
                <tr>
                    <td>
                        <a href="{% url 'gestion_exemplaire_detail' cassette.id_cassette %}">{{ cassette }}</a>
                    </td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="gestion_ex_pagination">
            {% include 'ttt_back/partials/pagination_snippet.html' %}
        </div>
    </div>
    <div class="ilb center">
        <form method="get">
            {% csrf_token %}
            <input class="search_input" name="search_query" type="text" placeholder="Rechercher...">
            <button class="back_button search_button" type="submit">Rechercher</button>
        </form>
        <div>
            {% if message %}
                <div class="message center">
                    <p class="info_message">
                        {{ message }}
                    </p>
                    <i class="fa-regular fa-circle-xmark close_message"></i>
                </div>
            {% endif %}
            <table class="stat bl">
                <tbody>
                    {% for result in search_results %}
                        <tr>
                            <td>
                                <a href="{% url 'gestion_exemplaire_detail' result.id_cassette %}">{{ result }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}