{% extends "base_back.html" %}

{% block content %}
    <div class="custom_header">
        <h4 class="title">Vente Rapide</h4>
        <a href="/admin/">retour à l'admin</a>
    </div>
    <div class="vente_rapide">
        {% if message %}
            <div class="message center">
                <p class="info_message">
                    {{ message }}
                </p>
                <i class="fa-regular fa-circle-xmark close_message"></i>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="back_button" type="submit">Vente</button>
        </form>
    </div>
{% endblock content %}