header {
    padding-top: 10px;
    margin-bottom: 50px;
    
    .nav_menu {
        text-align: center;
        padding-top: 5px;
        ul {
            li {
                display: inline;
                text-align: center;
                padding: 3px 5px;
                margin: 17px;
                line-height: 40px;
                a {
                    color: @white;
                    &:hover {
                        color: @grey;
                    }
                }
                &.active {
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                    border-color: @white;
                }
            }
        }
    }
}

.newsLetter {
    vertical-align: top;
    padding-bottom: 10px;
    min-width: 220px;
    .mc-field-group label {
        display: block;
        width: 200px;
    }
    #mc-embedded-subscribe, #mce-EMAIL {
        margin-top: 8px;
        width: 200px;
        height: 29px;
    }
    #mc-embedded-subscribe {
        border-radius: 5px;
        &:hover {
            border-radius: 5px;
            background-color: @grey;
            color: @white; 
        }
    }
}

.social_menu {
    text-align: center;
    min-width: 220px;
    .social_list {
        li {
            display: inline;
            padding: 12px;
            line-height: 40px;
            a {
                color: @white;
                &:hover {
                    color: @grey;
                }
            }
        }
    }
}

article {
    &.bottom {
        display: none;
    }
} 

@media screen and (max-width: 1400px) {
    article {
        &.bottom {
            display: block;
        }
    }
    .newsLetter.up, .social_menu.up {
        display: none;
    }
}